{# src/SS/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "SSPlatformBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block ssplatform_body %}
    {% for message in app.session.flashbag.get('info') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
  <h2>Liste des annonces</h2>

  <ul>
      {% for advert in listAdverts %}
        <li>
          <a href="{{ path('ss_platform_view', {'id': advert.id}) }}">
              {{ advert.intitule }}
          </a>
          par {{ advert.idPers }},
          le {{ advert.dateOffre|date('d/m/Y') }}
        </li>
      {% else %}
        <li>Pas (encore !) d'annonces</li>
      {% endfor %}
  </ul>

{% endblock %}