{# src/SS/PlatformBundle/Resources/view/Advert/view.html.twig #}


{% extends "SSPlatformBundle::layout.html.twig" %}

{% block title  %}
Affichage de l'annonce n°{{ offre.id }}
{% endblock %}

{% block ssplatform_body %}
<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice_O') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>

<p>
    {{ offre.intitule }}<br>
    <img src={{ logo }}>
    <a href="{{ path('ss_platform_edit',{'id':offre.id}) }}" type="submit">Modifier</a>

    <a href="{{ path('ss_platform_delete',{'id':offre.id}) }}" type="submit">Supprimer</a>

</p>



{% endblock %}
