{# src/SS/PlatformBundle/Resources/view/Advert/view.html.twig #}


{% extends "SSPlatformBundle::layout.html.twig" %}

{% block title  %}
Affichage de l'annonce n°{{ offre.id }}
{% endblock %}

{% block ssplatform_body %}
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div>
    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('notice_O') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
</div>
<p>
    {{ offre.intitule }}<br>

    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('ss_platform_edit',{'id':offre.id}) }}" type="submit">Modifier</a>

    <a href="{{ path('ss_platform_delete',{'id':offre.id}) }}" type="submit">Supprimer</a>
    {% endif %}
</p>
    {% for message in app.session.flashbag.get('notice_C') %}
        <p>Message flash : {{ message }}</p>
    {% endfor %}
    {{ form(commentBox) }}

    {% for coms in offre.avis %}
        <!------ Include the above in your HEAD tag ---------->
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                </div><!-- /col-sm-1 -->
                <div class="col-sm-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <strong>{{coms.auteur.username}}</strong> <span class="text-muted">publié le {{ coms.date|date("m/d/Y à H:i:s") }}</span>
                        </div>
                        <div class="panel-body">
                            {{ coms.contenu }}
                        </div><!-- /panel-body -->

                    </div><!-- /panel panel-default -->
                </div><!-- /col-sm-5 -->
                {% if is_granted('ROLE_ADMIN') or coms.auteur==app.user %}
                <a href="{{ path('ss_platform_editC',{'id':coms.id}) }}" type="submit">Modifier</a>

                <a href="{{ path('ss_platform_deleteC',{'id':coms.id}) }}" type="submit">Supprimer</a>
                {% endif %}
            </div><!-- /row -->
        </div><!-- /container -->

    {% else %}
    Pas de commentaires pour cette offre !
    {% endfor %}





{% endblock %}
